/* TEXT */
/*
font-family: 'Quicksand', sans-serif;
font-family: 'Muli', sans-serif;
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #000; */
  background-color: #fff;
}

h1, h2, h3 {
  font-family: 'Quicksand', sans-serif;
  font-variant: small-caps;
  color: rgb(1,110,207);
}

p, a, label, ::placeholder, input, textarea {
  font-family: 'Muli', sans-serif;
  margin: 3px;
  padding: 3px;
  font-size: 20px;
}

/* -GLOBAL IMAGES- */
.logo {
  width: 100px;
  border-radius: 2px;
  margin-right: 0;
}

/* -LINKS & LISTTS- */
a {
  text-decoration: none;
  font-variant: small-caps;
  color: rgb(1,110,207);
}

a:visited,#random-search:visited {
  color: rgb(31,149,254);
}

li {
  list-style: none;
}

/* -BUTTONS- */
button {
  font-family: 'Muli', sans-serif;
  padding: 5px 10px;
  border-radius: 5px;
  font-variant: small-caps;
  background-color: transparent;
  color: rgb(1,110,207);
}

button:focus, button:active, button:hover {
  border: 1px solid rgb(199,170,27);
  color: rgb(199,170,27);
  outline: none;
}

.btns_sidebyside, .btns_stacked {
  display: flex;
}

.btns_sidebyside > button:first-child {
  margin-right: 10px;
}

.btns_stacked {
  flex-direction: column;
}

.btns_stacked > button:first-child {
  margin-bottom: 10px;
}

/* -NAV- */
#brand {
  font-size: 30px;
}

#brand_div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 50px;
  margin-left: 20px;
}

#navbar {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 300px;

}

#nav_links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height:100%;

}

.nav_link {
  font-size: 30px;
  padding: 0 1rem;
  transition: opacity 0.2s;
}

#nav_links > li {
  margin-bottom: 20px;
}

.fade:hover .nav_link:not(:hover) {
  opacity: 0.5;
}

/* =====LANDING===== */
#landing_container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)), url("./assets/landing-bg.jpg");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0 100px;
}

#landing_title {
  font-size: 70px;
  /* font-weight: 100; */
  color: #fff;
  font-variant: small-caps;
  text-shadow: 2px 2px 5px rgb(199,170,27);
}

#landing_content {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#get_started_btn, #sign_in_btn {
  margin-top: 10px;
  padding: 10px 25px;
  color: rgb(199,170,27);
  border: none;
  font-size: 20px;
}

#get_started_btn {
  border: 1px solid rgb(199,170,27);
}

#sign_in_btn {
  position: absolute;
  top: 20px;
  right: 50px;
}

#get_started_btn:hover, #sign_in_btn:hover, #search_btn:hover {
  border: 1px solid rgb(199,170,27);
  box-shadow: 2px 2px 5px rgb(199,170,27);
}

#signup, #login {
  margin-top: 50px;
}

/* =====HOME===== */
#new_reflection_form, #edit_reflection_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 100%;
  border: 1px solid #000;
}

#reflections_display {
  display: flex;
  border: 1px solid red;
}

#reflections_container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#reflections_content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
  overflow-y: scroll;
  height: 500px;
  width: 800px;
  padding: 20px;
}
/* =====SEARCH===== */
#search_container, #home_container {
  height: 100vh;
  display: flex;
}

#search_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 100%;
  padding-top: 50px;
}

#search_form {
  display: inline-block;
  border-radius: 20px;
  box-shadow: 0 0 19px 1px rgba(0, 0, 0, 0.39);
}

#search_title {
  text-align: center;
  margin-bottom: 20px;
}

#search_input {
  margin: 0;
  font-size: 20px;
  line-height: 40px;
  border-radius: 20px 0 0 20px;
  border: none;
  width: 430px;
  padding: 0 20px;
}

#random_search {
  margin-left: 15px;
}

#random_search:hover {
  color: rgb(199,170,27);
}

#search_btn {
  font-size: 20px;
  line-height: 40px;
  border: none;
  background-color: #f6f6f6;
  padding: 0 20px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

#search_random {
  display:flex;
  align-items: baseline;
}

:focus {
  outline: none;
  box-shadow: 1px 1px 2px rgb(199,170,27);
  border-radius: 3px;
}

#searchResults_container {
  padding: 20px 50px;
  overflow-y: scroll;
  height: 70%;
  margin-top: 50px;
}

.search_result_card {
  margin-bottom: 5px;
  padding: 0 30px 20px;
  border-bottom: 1px dotted rgba(1,110,207, 0.35);
}

.ellipses {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-variant: normal;
  width: 500px;

}

@keyframes wiki-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#wiki_logo {
  animation: wiki-spin infinite 20s linear;
  height: 80px;
}

.read_more_btn {
  font-size: 18px;
  border: 1px solid rgb(1,110,207);
  border-radius: 5px;
}

/* -QUOTE STYLING- */
/* .quotation{
  font-family: 'Muli', sans-serif;
  font-size: 50px;
  quotes: "\201C""\201D""\2018""\2019";
  padding: 50px;
  margin-bottom: 20px;
  line-height: 1.4;
  width: 780px;
  text-align: center;
}

.quotation:before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: -40px;
  position: relative;
  top: 30px;
  color: #ccc;
  font-size: 3em;
}

.quotation::after {
  content: close-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: 40px;
  position: relative;
  top: 50px;
  color: #ccc;
  font-size: 3em;
}

#quote-author, blockquote{
  font-family: 'Muli', sans-serif;
  color: #fff;
  margin:0;
  font-style: italic;
}

#quote-author {
  font-size: 16px;
  text-align: right;
} */
